.login-page {
  display: flex;

  .form-wrapper-login {
    align-items: center;
    background-image: url('https://res.cloudinary.com/dtu5wu4i9/image/upload/v1681896575/Project%204/Lucy10_lpd5qa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
  }

  form {
    padding: 40px;

    label {
      display: block;
      color: white;
    }

    .login {
      color: white;
      padding: 20px;
      margin-top: 20px;
      align-items: center;
    }

    input,
    textarea {
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 5px;
      border-radius: 4px;
    }

    button {
      color: white;
      font-weight: bold;

    }
  }
}